{% extends 'base.html' %} 
{% load static %}
{% block meta %}
  <style>
    .fr-form{
    width: 80%;
    height: 70%;
    background-color:#4ECDC4;
    margin-top: 50px;
    border-radius: 15px;
    }
  .text-title{
    display: flex;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #734631;
    margin: auto;
    }
    .navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
    }
    .navbar {
    color: black;
    }
    footer {
      color:black;
    }
  </style>
{% endblock meta %}
      
{% block content %}
  <div style="margin-top: 20vh;" class="d-flex justify-content-center">
    <h3 class="text-title" style="font-family: 'Poppins', sans-serif; color:white;">Fill In This Form to Log In</h3>
  </div>
<div class="mb-5">
    <div class="d-flex justify-content-center">
        <div class="fr-form">
            <form method="POST" style="width: 100%; font-family: 'Poppins', sans-serif; padding-left: 5%; padding-right: 5%; padding-top: 50px" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <div class="p-form d-flex justify-content-start">
                      {{ form.username.label_tag }}
                    </div>
                    <p tyle="width: 100%;">
                    {{ form.username }}
                    </p>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-start">
                    {{ form.password.label_tag }}
                    </div>
                    <p style="width: 100%;">
                    {{ form.password }}
                    </p>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn btn-secondary" style="background-color:#FFE66D; border-color: #FFE66D; color:black">Log In</button>
                </div>
            </form>
            <div class="mt-3 d-flex justify-content-start" style="padding-bottom: 50px;">
                <p style="font-family: 'Poppins', sans-serif; padding-left: 5%; padding-right: 5%; text-align: center; color:black;">Don't have an account? <a href="{% url 'register:register'%}">Sign Up</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
