{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'styleE.css' %}">
<title>Covid Kit</title>
<style>
    .navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
    }
    .navbar {
    color: black;
    }
    footer {
      color:black;
    }
</style>
{% endblock meta %}

{% block content %}
    <div style="text-align: center; margin-top: 240px; margin-bottom: 100px;">
        <h1 style="color: #FFE66D;">Pesanan berhasil!</h1>
        <h1>Tunggu staff kami menghubungi anda untuk melakukan pembayaran</h1>
    </div>
    <div style="text-align: center; margin-bottom: 130px;">
        <a href="{% url 'covid_kit:covid_kit' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D">Kembali ke katalog</a>
        <a href="{% url 'covid_kit:pesan' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D">Pesan lagi </a>
    </div>
{% endblock content %}