{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'styleE.css' %}">
<title>Covid Kit</title>
<style>
    @media (max-width:797px) {
        .flex-container {
        flex-direction:column
        }
    }
    .navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
    }
    .navbar {
    color: black;
    }
    footer {
      color:black;
    }
    .carousel-inner img {
    width: 100%;
    height: 100%;
    }
</style>

<script>
    $(document).ready(function(){
      // Activate Carousel
      $("#myCarousel").carousel();
        
      // Enable Carousel Indicators
      $(".item1").click(function(){
        $("#myCarousel").carousel(0);
      });
      $(".item2").click(function(){
        $("#myCarousel").carousel(1);
      });
      $(".item3").click(function(){
        $("#myCarousel").carousel(2);
      });
        
      // Enable Carousel Controls
      $(".carousel-control-prev").click(function(){
        $("#myCarousel").carousel("prev");
      });
      $(".carousel-control-next").click(function(){
        $("#myCarousel").carousel("next");
      });

      $("h5").dblclick(function(){
        $(this).hide();
  });
    });
</script>
{% endblock meta %}

{% block content %}
        <div class="header2" style="margin-bottom: 30px; margin-top: 150px;">
            <h1>Covid Kit</h1>
            <h5 style="margin-left: 30px; margin-right: 30px; margin-top: 20px;">Selamat datang di halaman Covid Kit! Silakan melihat-lihat catalog yang kami sediakan.
                Jangan lupa log in untuk merequest atau memesan barang. (Double click untuk menghilangkan pemberitahuan ini).
            </h5>
        </div>

        <!-- <div class="container mt-3"> -->
            <div id="myCarousel" class="carousel slide">
            
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li class="item1 active"></li>
                <li class="item2"></li>
                <li class="item3"></li>
              </ul>
              
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../static/Frame 1.png" alt="mask" width="1100" height="300">
                </div>
                <div class="carousel-item">
                  <img src="../static/Frame 2.png" alt="washhand" width="1100" height="300">
                </div>
                <div class="carousel-item">
                  <img src="../static/Frame 3.png" alt="vitamins" width="1100" height="300">
                </div>
              </div>
              
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#myCarousel">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#myCarousel">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
        <!-- </div> -->

        <div class="flex-container space-between" style="padding-top: 30px;">
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/masker.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Surgical Mask</p>
                <div>
                    <p>Masker bedah dapat mencegah masuknya partikel besar yang berasal dari percikan dan paparan cairan tubuh orang lain saat batuk atau bersin.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/maskerkain.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Masker Kain</p>
                <div>
                    <p>Salah satu masker pengganti masker bedah yang cukup efektif adalah masker kain.
                        Harganya pun terjangkau dan lebih tahan lama.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/handsanitizer.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Hand Sanitizer</p>
                <div>
                    <p>Hand sanitizer dapat menjadi pengganti sementara dari mencuci tangan sehingga
                        alat ini sangat dibutuhkan selama masa pandemi.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/vitamin.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Vitamin</p>
                <div>
                    <p>Kebugaran tubuh adalah hal yang sangat penting agar tubuh kita dapat melawan virus,
                        oleh karena itu usahakan untuk selalu mengonsumsi vitamin.</p>
                </div>
            </div>
        </div>

        <div class="flex-container space-between">
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/sabuncair.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Sabun Cair</p>
                <div>
                    <p>Mencuci tangan selama masa pandemi ini adalah kunci untuk terhindar dari penularan Covid 19.
                        </p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/tissue.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Tissue</p>
                <div>
                    <p>Selama pandemi, tissue adalah salah satu alat yang perlu dibawa kemana pun.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/alkohol.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Alkohol 70%</p>
                <div>
                    <p>Alkohol 70% dapat menjadi pengganti hand sanitizer yang ampuh membersihkan tangan.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/faceshield.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Face Shield</p>
                <div>
                    <p>Selain masker, face shield juga merupakan barang wajib untuk menghindari diri dari
                        droplet orang lain.</p>
                </div>
            </div>
        </div>
        
        {% if user.is_authenticated %}
        <div class="footer2">
            <p>gak ketemu apa yang kamu cari? coba request barang supaya kami jual!</p>
            <a href="{% url 'covid_kit:daftar' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D">Request barang </a>
        </div>
        <div class="footer2" style="margin-top:-30px">
            <p>sudah mau pesan? isi form pemesanan di sini!</p>
            <a href="{% url 'covid_kit:pesan' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D">Pesan sekarang </a>
        </div>
        {% else %}
        <h4 style="text-align: center; margin-top: 100px; margin-bottom: 100px;">Silakan log in atau sign up untuk bisa memesan atau merequest barang!</h4>
        {% endif %}
{% endblock content %}