<html>
    {% extends 'base.html'%}
    {% load static %}
    {% block content %}
<head>
    {% block meta%}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    <style>
        footer,.navbar-brand,.nav-item{
        color: black;
        }
        #bodskuy{
            background-color: #4ECDC4;
        }
        table,th,td{
            border: black;
        }
        /* #daftar tbody tr.selected{
            color:black;
            background-color: #eeeeee;
        } */
    </style>
    {% endblock meta%}
</head>
<body>
    <div class = "titlee" style="margin-top: 100px;">
        <h1 class="text-center" style="color:white;"> Kasus COVID-19 Provinsi Indonesia </h1>
        
    </div>
    <div id="bodskuy">
        <br><br>
        <main class="container">
        <table class="table cell-border" id="daftar" style="color: black;">
        <thead style="color: black; background-color: gray;" >
            <tr>
                <th>No</th>
                <th>Provinsi</th>
                <th>Kasus Terkonfirmasi</th>
                <th>Kasus Sembuh</th>
                <th>Kasus Meninggal</th>
            </tr>
        </thead>
        <tbody id='test'>

        </tbody>
        </table>
        </main>
        <br><br>
    </div>
    <br>
        <div class='text-right' id='backtotheback'>
            <a class="btn btn-info" href='/daftarkasus' >Kembali</a>
            </div>
            <br><br><br><br><br><br><br><br><br><br>
    
    
</body>

<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'listkasus:data' %}",
            success: function(data){
                var array_items = data.data;
                for(i = 0 ; i<array_items.length-1;i++){
                    var no = i+1 ;
                    var prov= array_items[i].provinsi;
                    var ktot= array_items[i].kasusPosi;
                    var ksem= array_items[i].kasusSemb;
                    var kded= array_items[i].kasusMeni;
                    $('#test').append("<tr> <td> "+ no + "</td><td>" + prov +'</td> <td> '+ktot+'</td> <td>'+ksem+"</td><td>"+kded+"</td></tr>")
                }
            }
    });  
});  
</script>
<script>
    $(document).ajaxComplete(function(){
        $('#daftar').DataTable();
        $('#daftar tbody').on('click','tr', function(){
            if($(this).hasClass("table-info")){
                $(this).removeClass("table-info");
            }
            else{
                $(this).addClass("table-info");
            }
        });
        
    });
    
</script>



    {% endblock content %}
</html>