{% extends 'base.html'%}
{% load static %}
{% block meta%}
<link rel="stylesheet" href="{% static 'list_kasus/styleR.css' %}">
{% endblock meta%}

{% block content %}
    <div class ="container">

        <h2>Jumlah Kasus Covid di {{a.nama}} Saat Ini</h2>
        <div class ="row">
            <div class="col-md-4 text-center" >Kasus Terkonfirmasi <div class='card' id='jTotal' style='width:100%;'></div></div>
            <div class="col-md-4 text-center">Kasus Sembuh <div class='card' id='jSembuh' style='width:100%;'></div></div>
            <div class="col-md-4 text-center">Kasus Meninggal <div class='card' id='jMeninggal' style='width:100%;'></div></div>
        </div>
        <p></p>
        <p>Update Terakhir</p>
        <p style='margin-left: 10px;' id="apdet"></p>
        <br>
        <p>Cari Kasus di Daerahmu
              
        </p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="asw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cari Daerahmu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for i in list_kasus %}
              <a class="dropdown-item" href="{% url 'listkasus:kasusdetail' i.pk %}">{{i.nama_daerah}}</a>
                {% endfor %}
            </div>
          </div>
          <div>atau lihat semua daerah inputan</div>
          <a class ="btn btn-secondary" href="{% url 'listkasus:kasusinput' %}">daerah inputan user</a>
          <br>
          {% if user.is_authenticated %}
          <div>Mengetahui Jumlah Kasus di Daerahmu? Silahkan Tambahkan Kasus
              <a class="btn btn-info" href="{% url 'listkasus:tambahkasus' %}">Tambah Kasus</a>
          </div>
            {% else %}
            <div id="logon">Silahkan login untuk menambahkan kasus yang kamu ketahui di daerahmu, klik mengerti untuk menghilangkan pemberitahuan <p></p><a href ="#" id="ngerti" style="color:rgb(228, 59, 81);">Mengerti</a></div>

            {% endif %}
            <br>
            <div>
              <a class ="btn btn-secondary" href="{% url 'listkasus:kasusprovinsi' %}">berikut list kasus pada tiap provinsi di Indonesia</a>
            </div>
    </div>
   
    <br>
    <br><br><br>

    <script> 
      $(document).ready(function() {
        $.ajax({
          url:"{% url 'listkasus:dataIndonesia' %}",
          success: function(data){
            var items = data;
            var jTotal = items.positif;
            var jSembuh = items.sembuh;
            var jMeninggal = items.meninggal;
            var update = items.lastUpdate;
            var a = update.substring(0,10);
            var z = update.substring(11,19)
            $("#jTotal").append(jTotal)
            $("#jSembuh").append(jSembuh)
            $("#jMeninggal").append(jMeninggal)
            $("#apdet").append(a+" pukul "+ z)
          }
        });
      });
    </script>
    <script>
      $("#ngerti").click(function(){
        $("#logon").hide();
      });
    </script>

{% endblock content %}