<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}

    {% block meta%}
    <link rel="stylesheet" href="{% static 'list_kasus/styleR.css' %}">
    {% endblock meta%}

{% block content %}
<div class="container" id="tambahkasus">
    <form method="post" id="kasus_form">
        {% csrf_token %}
        <div class="card" id = "tabel">
            <table class="table">
                <thead class="thead">
              <tr>
                <th scope="row">Keterangan</th>
                <th scope="row">Data</th>
                
              </tr>
            </thead>
            <tr>
                {{form}}
            </tr>
            </table>
            <div class="text-right">
            <button id="submit" type="submit" class="btn  btn-info ">Tambah</button>
            </div>
            

        </div>
        <div id="datacreate"></div>
        <div class='backbutton text-center'id='backtoyou'>
        <a class="btn btn-info" href='/daftarkasus' >Kembali</a>
        </div>
        
    </form>
    </div>
    <br>

    <script>
        $(document).on('submit','#kasus_form',function(event){
            event.preventDefault();
            event.stopImmediatePropagation();
            console.log("data succesfully created!")
            $.ajax({
                type:'POST',
                url: "/daftarkasus/tambahkasus/",
                data:{
                    nama_daerah:$('#namee').val(),
                    jumlah_total:$('#jumlahtotal').val(),
                    kasus_sembuh:$('#jumlahsembuh').val(),
                    kasus_meninggal:$('#jumlahmeninggal').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(json){
                    document.getElementById("kasus_form").reset();
                    $('#datacreate').append("<p>  data for "+ json.nama_daerah+ " was created</p>")
                    console.log(json);
                },
            });
        })
        
    </script>
{% endblock content %}