{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Daftar RS Rujukan COVID-19</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
    <div class="container-fluid p-3 my-3 pt-4 text-center">
        <h1>Daftar Rumah Sakit Rujukan</h1>
    </div>
    <div class="container-fluid header">
        <div class="row">
            <div class = "pic col-sm-12 col-md-6 pt-sm-4 pt-md-1">
                <img src= "{% static 'rs.png' %}" class="img-fluid mx-auto" style="width: 90%; height: auto;">
            </div>
            <div class="para col-sm-12 col-md-6 text-center pr-md-5 pb-md-3 px-4 pt-5">
                <p id="jumlah">Telah terdaftar sebanyak {% if rsrujukans %} {{ jumlahrs }} {% endif %}
                    {% if not rsrujukans %} 0 {% endif %}
                    rumah sakit rujukan yang siap menangani pasien COVID-19 pada website ini.
                <br><br>Tambahkan jumlah rumah sakit rujukan COVID-19 agar pandemi ini segera berakhir.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-4 my-2 pb-5 text-center">
        <div class="pt-sm-5 pt-4">
            <h2>Kapan <span>Perlu </span>Memeriksakan Kesehatan Ke Rumah Sakit
            untuk Dugaan <span>COVID-19</span>?</h2>
        </div>
        <div class="py-sm-4 py-3">
            <br>
            <img class="img-fluid" src= "{% static 'kapan.png' %}">
        </div><br>
        <a class="btn btn-danger btn-lg" href="{% url 'list_rs:tescovid' %}">Daftar Rapid Test/Swab Test</a>
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid p-md-5 py-5" style="background-color: #4ECDC4;">
        <div class="p-md-5 pb-2 pt-1 text-center">
            <h2 style="color: #0E434B;">Daftarkan Rumah Sakit Rujukan Anda.</h2><br>
        </div>
        <div class="form">
            <div class="form-group">
                <form action="" method="POST" id="rs_form">
                    {% csrf_token %}
                    {% for form in input_rs %}
                        {{ form.label }}
                        {{ form }} <br>
                    {% endfor %}
                    <div class="text-right">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %} 
    <div class="container-fluid px-md-5 py-2 pt-4 px-4" style="background-color: #FFE66D;">
        <div class="p-md-5 pb-2 pt-1 text-center">
            <h3 style="color: #0E434B; line-height: 1.3;"><b>Ingin menambahkan rumah sakit rujukan pada daftar di bawah?</b></h3><br>
        <a class="btn btn-primary btn-lg" href="/accounts/login/?next={{ request.path }}">Login</a><br><br>
        <p>Belum punya akun? <a href="{% url 'register:register' %}">Buat akun baru</a></p>
        </div>
    </div>
    {% endif %}
    
    <div class="container-fluid p-sm-5 px-3 py-4" id="daftar">
        <div class="px-md-5 p-2 pt-4 pb-md-4 pt-md-5 text-center">
            <h2>Daftar Rumah Sakit Rujukan</h2><br>
        </div>
        <div class="px-md-5">
            <input id="search" class="form-control" placeholder="Keyword: nama atau provinsi rumah sakit rujukan">
        </div>
        <br><br>
        <div class="klik" style="display: none;">
            <small style="color:#FFE66D;">Klik nama rumah sakit rujukan untuk melihat detailnya</small>
        </div>
        <div class="table-responsive">
        <table id="list" class="table table-hover">
            <thead>
                <tr>
                <th>Nama Rumah Sakit</th>
                <th class="align-middle">Provinsi</th>
                {% if user.is_authenticated %}
                <th></th>
                <th></th>
                {% endif %}
                </tr>
            </thead>
            {% if rsrujukans %}
            <tbody>
                {% for rsrujukan in rsrujukans %}
                    <tr>
                        {% if user.is_authenticated %}
                        <td><a href="{% url 'list_rs:detail' id=rsrujukan.id %}" class="detail">{{ rsrujukan }}</a></td>
                        <td>{{ rsrujukan.provinsi }}</td>
                        <td class="center">
                            <form action="{% url 'list_rs:ubah' id=rsrujukan.id %}">
                                <input type="submit" class="btn btn-warning" value="Ubah"></td>
                            </form>
                        </td>
                        <td class="center">
                            <input type="button" class="btn btn-danger btn-del" value="Hapus" id="{{ rsrujukan.id }}">
                        </td>
                        {% else %}
                        <td><a href="{% url 'list_rs:detail' id=rsrujukan.id %}" class="detail">{{ rsrujukan }}</a></td>
                        <td>{{ rsrujukan.provinsi }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
            {% if not rsrujukans %}
            <tbody>
                <tr class="text-center">
                {% if user.is_authenticated %}
                <td colspan="4">
                {% else %}
                <td colspan="2">
                {% endif %}
                <p>Belum ada rumah sakit rujukan yang terdaftar.</p></td>
                </tr>
            </tbody>
            {% endif %}
        </table>
        </div>
        <br><br>
    </div>

<script src="{% static 'daftarrsjs.js' %}"></script>
{% endblock content %}