{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Daftar Tes COVID-19</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<style>
    #desktop {display: block;}
    #mobile {display: none;}
    @media screen and (max-width: 768px) {
        #desktop {display: none;}
        #mobile {display: block;}
    }
</style>
{% endblock meta %}

{% block content %}
    <div class="container-fluid p-3 my-3 text-center">
        <h1>Daftar Rapid Test / Swab Test</h1>
    </div>
    <div class= "container-fluid px-md-5 px-2 py-md-2" style ="background-color:#FFE66D;">
        <h2 class="text-md-left text-center pl-md-5" style="margin-bottom: -1px; color:#1A535C">Rapid Test</h2>
    </div>
    <div class="container-fluid desc">
        <div class="row">
            <div id="desktop" class="para col-sm-12 col-md-6 text-justify pr-md-5 pb-md-3 px-4 pt-5">
                <ul>
                    <li>- Menggunakan sampel darah yang diambil untuk diuji</li>
                    <li>- Jika jumlah antibodi IgG dan IgM dalam darah bertambah maka terjadi infeksi virus</li>
                    <li>- Hanya membutuhkan waktu 10-15 menit hingga hasil keluar</li>
                    <li>- Hanya untuk screening awal</li>
                </ul>
            </div>
            <div class = "pic col-sm-12 col-md-6 pt-sm-4 pt-md-1">
                <img src= "{% static 'rapid.png' %}" class="img-fluid mx-auto" style="width: 90%; height: auto;">
            </div>
            <div id="mobile" class="para col-sm-12 col-md-6 text-justify pr-md-5 pb-md-3 px-4 pt-5">
                <ul>
                    <li>- Menggunakan sampel darah yang diambil untuk diuji</li>
                    <li>- Jika jumlah antibodi IgG dan IgM dalam darah bertambah maka terjadi infeksi virus</li>
                    <li>- Hanya membutuhkan waktu 10-15 menit hingga hasil keluar</li>
                    <li>- Hanya untuk screening awal</li>
                </ul>
            </div>
        </div>
    </div>
    <div class= "container-fluid px-md-5 px-2 py-md-2" style ="background-color: #FFE66D;">
        <h2 class="text-md-right text-center pr-md-5" style="margin-bottom: -1px; color:#1A535C">Swab Test</h2>
    </div>
    <div class="container-fluid desc">
        <div class="row">
            <div class = "pic col-sm-12 col-md-6 pt-sm-4 pt-md-1">
                <img src= "{% static 'swab.png' %}" class="img-fluid mx-auto" style="width: 90%; height: auto;">
            </div>
            <div class="para col-sm-12 col-md-6 text-justify pr-md-5 pb-md-3 px-4 pt-5">
                <ul>
                    <li>- Menggunakan sampel lendir dalam lubang hidung dan tenggorokan</li>
                    <li>- Menggunakan metode PCR (Polymerase Chain Reaction)</li>
                    <li>- Membutuhkan waktu beberapa jam/hari hingga hasil keluar</li>
                    <li>- Metode paling akurat dalam mendeteksi virus SARS-COV2</li>
                </ul>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <br>
    <div class="container-fluid p-md-5 py-5">
        <div class="form">
            <div class="form-group">
                <form action="tiket" method="POST">
                    {% csrf_token %}
                    Nama Lengkap: {{ input_tes.nama }}<br>
                    No. KTP: {{ input_tes.no_id }}<br>
                    No. Telepon: {{ input_tes.telepon }}<br>
                    Alamat: {{ input_tes.alamat }}<br>
                    Rumah Sakit / Klinik: {{ input_tes.tempat }}<br>
                    Rapid / Swab: {{ input_tes.tes }}<br><br>
                    <div class="text-right">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %} 
    <div class="container-fluid px-md-5 py-2 pt-4 px-4" style="background-color: #FFE66D;">
        <div class="p-md-5 pb-2 pt-1 text-center">
            <h3 style="color: #0E434B; line-height: 1.3;"><b>Ingin mendaftar rapid test atau swab test?</b></h3><br>
        <a class="btn btn-primary btn-lg" href="/accounts/login/?next={{ request.path }}">Login</a><br><br>
        <p>Belum punya akun? <a href="{% url 'register:register' %}">Buat akun baru</a></p>
        </div>
    </div><br>
    {% endif %}
    <div class="container-fluid px-md-5 pb-2 text-white text-md-right text-center">
        <p><a class="back" href="{% url 'list_rs:savers' %}">Kembali daftar rumah sakit rujukan</a><br></p>
    </div>
<script src="{% static 'daftarrsjs.js' %}"></script>
{% endblock content %}