{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Ubah Data {{ rsrujukan }}</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
<div class="container-fluid px-md-5 pb-md-4 py-3 mt-n3" style="background-color: #4ECDC4;">
    <div class="p-md-5 p-3 text-center">
        <h2 style="color: #0E434B;">Ubah Data {{ rsrujukan }}.</h2>
    </div>
    <div class="form">
        <div class="form-group">
            <form action="#daftar" method="POST">
                {% csrf_token %}
                {% for form in input_rs %}
                    {{ form.label }}
                    {{ form }} 
                    <br>
                {% endfor %}
                <div class="text-right">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid px-md-5 pb-2 text-white text-md-right text-center">
    <br>
    <p><a class="back" href="{% url 'list_rs:savers' %}#daftar">Kembali daftar rumah sakit rujukan</a></p>
</div>
<script src="{% static 'daftarrsjs.js' %}"></script>
{% endblock content %}