{% extends 'base.html' %} 
{% load static %}
{% block meta %}
    <style>
        body{
            background-color: #1A535C;
        }
        .fr-form{
            width: 80%;
            height: 70%;
            background-color:#4ECDC4;
            margin-top: 50px;
            border-radius: 15px;
        }
        .text-title{
            display: flex;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            color:white;
            margin: auto;
        }
        .navbar a {
            text-decoration: none;
            color: inherit;
            word-wrap: break-word;
        }
        .navbar {
            color: black;
        }
        footer {
            color:black;
            font-family: 'Poppins', sans-serif;
        }
        .fill{
            width: 100%; 
            font-family: 'Poppins', sans-serif; 
            padding-left: 5%; 
            padding-right: 5%;
        }
    </style>
{% endblock meta %}

{% block content %}
    <div style="margin-top: 20vh;" class="d-flex justify-content-center">
        <h3 class="text-title">Fill In This Form to Sign Up</h3>
    </div>
    <div class="mb-5">
        <div class="d-flex justify-content-center">
            <div class="fr-form">
                <form method="POST" style="width: 100%; font-family: 'Poppins', sans-serif; padding-left: 5%; padding-right: 5%;" class="mt-3">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="p-form d-flex justify-content-start">
                            {{form.username.label_tag}}
                        </div>
                        <small style="color: grey">Hanya bisa huruf, angka, dan @/./+/-/_ saja</small>
                        <br>{{form.username}}
                        {% for error in form.username.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form.first_name.label_tag}}
                        </div>
                        <small style="color: grey">Wajib diisi.</small>
                        <br>{{form.first_name}}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form.last_name.label_tag}}
                        </div>
                        {{form.last_name}}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form.email.label_tag}}
                        </div>
                        <small style="color: grey">Gunakan format email yang benar.</small>
                        <br>{{form.email}}
                        {% for error in form.email.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form.password1.label_tag}}
                        </div>
                        <small style="color: grey">Minimal 8 huruf dan tidak bisa semuanya angka.</small>
                        <br>{{form.password1}}
                        {% for error in form.password1.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form.password2.label_tag}}
                        </div>
                        <small style="color: grey">Ketik password yang sama untuk konfirmasi.</small>
                        <br>{{form.password2}}
                        {% for error in form.password2.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button type="submit" class="btn btn-secondary" style="background-color:#FFE66D; border-color: #FFE66D; color:black">Sign Up</button>
                    </div>
                </form>        
            </div>
        </div>
    </div>
{% endblock content %}


