{% extends 'base.html' %}
{% load static %}
{% block meta %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  -->
    <link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
    <style>
        .navbar{
            color: black;
            padding-right: 0%;
        }
        .navbar a{
            text-decoration: none;
            color: black;
            word-wrap: break-word;
            padding-left: 0%;
            padding-right: 0%;
        }
        .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
            padding-right: 0%;
        }
        footer{
            color: black;
            font-family: 'Poppins', sans-serif;
        }
        .accor-text{
            color:black;
            font-family: 'Poppins', sans-serif;
        }
        h3{
            font-family: 'Poppins', sans-serif;
            color: black;
        }
        #tentang-satu h3{
            background-color: #4ECDC4;
        }
        #tentang-dua h3{
            background-color: #4ECDC4;
        }
        #tentang-tiga h3{
            background-color: #4ECDC4;
        }
        #cegah-satu h3{
            background-color: #4ECDC4;
        }
        #cegah-dua h3{
            background-color: #4ECDC4;
        }
        #cegah-tiga h3{
            background-color: #4ECDC4;
        }
        #penanganan-satu h3{
            background-color: #4ECDC4;
        }
        #penanganan-dua h3{
            background-color: #4ECDC4;
        }
        #penanganan-tiga h3{
            background-color: #4ECDC4;
        }
        #tentang-satu .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #tentang-dua .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #tentang-tiga .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #cegah-satu .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #cegah-dua .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #cegah-tiga .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #penanganan-satu .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #penanganan-dua .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        #penanganan-tiga .ui-accordion-header.ui-state-active{
            color: white;
            background:#1A535C;
            border: none;
        }
        .color{
            background:#1A535C;
            color: white;
        }
        .heart {
            color: #FF6B6B;
            cursor: pointer;
        }
    </style>
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="{% static 'jsfaq.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock meta %}

    {% block content %}
    <div class="title">
        <p class="p-title">Frequently Asked Questions</p>
    </div>
    <div class="d-flex justify-content-around mt-5">
        <div>
            <a type="button" class="btn" style="background-color: #FFE66D;" href="{% url 'faq:faq' %}#tentang-covid19">Tentang COVID-19</a>
        </div>
        <div>
            <a type="button" class="btn" style="background-color: #FFE66D;" href="{% url 'faq:faq' %}#cara-pencegahan">Cara Pencegahan</a>
        </div>
        <div>
            <a type="button" class="btn" style="background-color: #FFE66D;" href="{% url 'faq:faq' %}#penanganan-dan-pengobatan">Penanganan dan Pengobatan</a>
        </div>
    </div>
    <!-- bikin acc -->
    <div class="container accordion mb-5">
        <div id="tentang-covid19" class="mt-5">
            <p><b>Tentang COVID-19</b></p>
            <div id="tentang-satu">
                <h3>Apa itu COVID-19?</h3>
                <div class="accor-text">
                    COVID-19 adalah penyakit menular yang disebabkan oleh virus corona SARS-CoV-2. 
                    Dengan kata lain, SARS-CoV-2 adalah nama virusnya, sementara COVID-19 adalah nama penyakitnya.
                    Ini seperti HIV yang adalah nama virus dari penyakit AIDS.
                </div>
            </div>
            <div id="tentang-dua">
                <h3>Apa itu virus Corona?</h3>
                <div class="accor-text">
                    Virus Corona adalah sebutan untuk jenis virus yang dapat menyebabkan penyakit pada hewan dan manusia. Disebut corona karena bentuknya yang seperti mahkota. 
                    Beberapa contoh penyakit pada manusia yang disebabkan oleh virus corona antara lain MERS dan SARS. 
                    Virus corona terbaru yang ditemukan yang ditemukan di Wuhan, Tiongkok, pada bulan Desember 2019 diberi nama SARS Coronavirus 2, disingkat SARS-CoV-2, dan menyebabkan penyakit Coronavirus Disease 2019, disingkat COVID-19.
                </div>
            </div>
            <div id="tentang-tiga">
                <h3>Bagaimana cara COVID-19 menular?</h3>
                <div class="accor-text">
                    Penularan terjadi melalui droplet, yaitu butir-butir tetesan cairan, dari hidung atau mulut yang menyebar saat pembawa virus COVID-19 batuk atau bersin.
                    Tetesan cairan tersebut akan menempel pada benda atau permukaan di sekitarnya. Kemudian masuk ke mulut, hidung, atau mata. 
                    Dapat juga karena menyentuh permukaan bekas terkena butir cairannya dengan tangan lalu tangan mengusap mulut, hidung, atau mata. 
                    Inilah alasan pentingnya sering-sering cuci tangan dan jangan menyentuh muka dengan tangan.
                    Orang sehat dapat tertular saat tangan mereka menyentuh permukaan yang terkena tetesan tersebut dan kemudian tanpa sadar menyentuh mata, mulut, ataupun hidung. 
                    Virus juga bisa masuk saat orang sehat secara tidak sengaja menghirup tetesan cairan saat si pembawa virus batuk atau bersin.
                </div>
            </div>
        </div>
        <div id="cara-pencegahan" class="mt-5">
            <p><b>Cara Pencegahan</b></p>
            <div id="cegah-satu">
                <h3>Bagaimana cara menjaga diri agar terhindar dari COVID-19?</h3>
                <div class="accor-text">
                    Untuk mencegah diri dari COVID-19, WHO dan Pemerintah menyarankan kepada masyarakat untuk:
                    <ul class="accor-text">
                        <li class="accor-text">Rajin membersihkan tangan dengan sabun dan air mengalir atau dengan hand sanitizer</li>
                        <li class="accor-text">Menggunakan masker ketika berpergian</li>
                        <li class="accor-text">Tidak menyentuh muka bagian mata, hidung, dan mulut dengan tangan yang belum dibersihkan</li>
                        <li class="accor-text">Menutup hidung dan mulut menggunakan siku bagian dalam saat batuk atau bersin</li>
                        <li class="accor-text">Menjaga jarak minimal satu meter dengan orang lain</li>
                        <li class="accor-text">Tetap berada di rumah jika tidak ada kepentingan</li>
                    </ul>
                </div>
            </div>
            <div id="cegah-dua">
                <h3>Apa dan bagaimana Physical Distancing?</h3>
                <div class="accor-text">
                    Physical distancing adalah upaya yang dilakukan untuk mencegah penyebaran virus corona di masyarakat. 
                    Secara sederhana Physical Distancing adalah menjaga jarak lebih dari 1 meter dengan siapapun. Dengan kata lain: Tidak Berdekatan dan Tidak Berkumpul.
                    Dengan menerapkan Physical Distancing penyebaran virus dapat dicegah. Ingat, virus tidak bergerak sendiri tapi oranglah yang membawanya ke mana-mana.
                </div>
            </div>
            <div id="cegah-tiga">
                <h3>Apa saja protokol kesehatan yang harus diterapkan saat berpergian keluar rumah?</h3>
                <div class="accor-text">
                    Protokol kesehatan yang harus dilaksanakan saat berpergian ke luar rumah adalah:
                    <ul class="accor-text">
                        <li class="accor-text">Gunakan pakaian lengan panjang</li>
                        <li class="accor-text">Bawa hand-sanitizer dengan kandungan alkohol minimal 60%</li>
                        <li class="accor-text">Gunakan masker</li>
                        <li class="accor-text">Hindari keramaian</li>
                        <li class="accor-text">Jaga jarak minimal satu meter</li>
                        <li class="accor-text">Gunakan transaksi nontunai</li>
                        <li class="accor-text">Bersihkan tangan menggunakan sabun dan air mengalir atau hand sanitizer setelah menyentuh benda atau permukaan apa pun</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="penanganan-dan-pengobatan" class="mt-5">
            <p><b>Penanganan dan Pengobatan</b></p>
            <div id="penanganan-satu">
                <h3>Bagaimana saya dapat dinyatakan positif atau negatif COVID-19?</h3>
                <div class="accor-text">
                    Untuk mengetahui apakah seseorang positif atau negatif COVID-19, perlu diadakan tes yang disebut Swab Test/PCR Test.
                    Tes dilakukan dengan cara mengambil sampel spesimen menggunakan alat berbentuk batang cotton bud dengan ukuran yang lebih panjang melalui hidung dan mulut.
                    Kemudian, sampel akan dikirim ke laboratorium untuk dites PCR. Hasil dari tes inilah yang akan menyatakan seseorang positif atau negatif COVID-19.
                </div>
            </div>
            <div id="penanganan-dua">
                <h3>Apakah vaksin COVID-19 sudah tersedia? Kapan bisa digunakan?</h3>
                <div class="accor-text">
                    Saat ini belum ada pengobatan khusus yang efektif untuk infeksi virus corona baru. 
                    Vaksin mungkin baru bisa tersedia pada tahun 2021.
                    Sumber: covid19.go.id
                </div>
            </div>
            <div id="penanganan-tiga">
                <h3>Adakah obat khusus untuk menangani COVID-19?</h3>
                <div class="accor-text">
                    Sampai saat ini, belum ada obat khusus yang disarankan untuk mencegah atau mengobati penyakit yang disebabkan virus corona baru. 
                    Mereka yang terinfeksi virus harus menerima perawatan yang tepat untuk meredakan dan mengobati gejala, dan mereka yang sakit serius harus dibawa ke rumah sakit.
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mt-5">
        <p class="btn"><a href="{% url 'faq:list-faq' %}"><u style="color: white;">Lihat FAQ lain</u></a></li>
        {% if user.is_authenticated %}
        <p class="btn"><a href="{% url 'faq:list-pertanyaan' %}"><u style="color: white;">Jawab pertanyaan lain</u></a></li>
        {% endif %}
    </div>
    
    {% if user.is_authenticated %}
    <div class="mt-5 mb-5">
        <form method="POST" class="d-flex justify-content-center">
            {% csrf_token %}
            {{form_pertanyaan.pertanyaan}}
            <button type="submit" class="btn ml-3" style="float: right; background-color: #FFE66D;">Send</button>
        </form>
    </div>
    {% endif %}
    <p class="d-flex justify-content-center">Was this FAQ helpful? If yes, tap the heart</p>
    <div class="d-flex justify-content-center mb-5">
        <i class="heart fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <p class="d-flex justify-content-center">Got any information about COVID-19 that people often ask? Share your knowledge</p>
    <div class="d-flex justify-content-center">
        <br><p> <a href="{% url 'faq:info' %}"><u style="color: white;">here!</u></a></p>
    </div>

<!-- <script src="{% static 'jquery-3.5.1.js' %}"></script> -->
<!-- <script src="{% static 'jsfaq.js' %}"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock content %}

