{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
    <style>
        .navbar{
            color: black;
            padding-right: 0%;
        }
        .navbar a{
            text-decoration: none;
            color: black;
            word-wrap: break-word;
            padding-left: 0%;
            padding-right: 0%;
        }
        .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
            padding-right: 0%;
        }
        footer{
            color: black;
            font-family: 'Poppins', sans-serif;
        }
        .float-container {
            border: 3px solid #fff;
            padding: 20px;
        }

        .float-child {
            width: 50%;
            float: left;
            padding: 20px;;
        }  
    </style>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'jsfaq.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
{% endblock meta %}

{% block content %}
<div class="title">
    <p class="p-title">Frequently Asked Questions</p>
</div>
<p class="d-flex justify-content-center mt-5">Got any information about COVID-19 that people often ask? Share your knowledge here!</p>
<div class="row">
    <div class="col fr-form mb-5" style="width: 50%; margin-left: 0%;">
        <form method="POST" id="post-info">
            {% csrf_token %}
            <div class="form-group mt-3">
                <div class="d-flex justify-content-start" style="color: black; padding-left: 0px;">
                    {{form_info.topic.label_tag}}
                </div>
                {{form_info.topic}}
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-start" style="color: black; padding-left: 0px;">
                    {{form_info.pemberi.label_tag}}
                </div>
                {{form_info.pemberi}}
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-start" style="color: black; padding-left: 0px;">
                    {{form_info.info.label_tag}}
                </div>
                {{form_info.info}}
            </div>
            <div class="d-flex justify-content-end mb-3" style="width: 100%; padding-left: 100;">
                <button type="submit" class="btn" style="background-color: #FFE66D;">Share</button>
            </div>
        </form> 
    </div>
    <div class="col" style="width: 50%; height: fit-content;">
        <div class="fr-form col d-flex flex-column">
            {% for info in infos %}
            <div class="justify-content-start align-items-left mt-2">
                <b style="color: black">Topic: {{ info.topic }} </b><br>
                <small style="color: black">Nama: {{ info.pemberi }} </small>
            </div>
            <div class="justify-content-start align-items-left">
                <p style="color: black; padding-left: 0px;">Information: {{ info.info }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}