{% extends 'base.html' %} 
{% load static %}
{% block meta %}
<link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
<style>
    .navbar{
        color: black;
        padding-right: 0%;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        word-wrap: break-word;
        padding-left: 0%;
        padding-right: 0%;
    }
    .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
        padding-right: 0%;
    }
    footer{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
</style>
{% endblock meta %}

{% block content %}
    <body>
        <div class="title">
            <p class="p-title">Frequently Asked Questions</p>
        </div>
        <div style="margin-top: 80px;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">List Pertanyaan</th>
                    <th scope="col">Jawab?</th>
                </tr>
                </thead>
                <tbody>
                    {% for pertanyaan in pertanyaans %}
                        <tr>
                            <td class="p-td">{{pertanyaan.pertanyaan}}</td>
                            <td>
                                <a href="{% url 'faq:jawab' pertanyaan.id %}" class="btn" style="background-color: #FFE66D;">Jawab</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col text-center">
                <a href="{% url 'faq:faq' %}" class="btn" style="background-color: #FFE66D;">Kembali ke Halaman FAQ</a>
            </div>
        </div>
{% endblock content %}