
body{
    background-color: #1A535C;
    color:white;
}
.container{
    margin-top: 100px;
}
.row{
    margin-top: 50px;
    font-size: 20px;
}
footer,.navbar-brand,.nav-item{
    color: black;
}

.card{
    background-color: #4ECDC4;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dropdown-menu {         
max-height: 150px;
overflow-y: auto;
}

#backtotheback{
    margin-bottom: 143px;
}
#endline{
    margin-bottom: 100px;

}

#tabel{
    background-color: #FFE66D;
    margin: 0;
    padding: 0;
}
#submit{
    margin-right: 1%;
    margin-bottom: 1%;
}
#tambahkasus{
    margin-top: 200px;
}
#backtoyou{
    margin:100px;
}
