{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styleH.css' %}">
<script src="{% static 'berita/js/comment.js' %}"></script>
{% endblock meta %}

{% block content %}
    <div class="d-flex flex-column w-75 mx-auto text-white">
        <div class="align-self-center pt-5 mb-3 px-2">
            <h3 id="title">{{berita.title}}</h3>
        </div>
        <img src={{berita.image_url}} class="imageBerita" alt="img" width="300px" height="150px" class="align-self-center">
        <div class="align-self-center bg-secondary w-100 my-3 px-3">
            <p class="text-left">
                {{berita.content|linebreaks}}
            </p>
        </div>
        <div class="align-self-start w-100 mx-auto bg-secondary mt-5" style="padding: 20px;"> 
            {% csrf_token %}
            {% if user.is_authenticated %}
                
                <div class="d-flex text-left flex-column">
                    <p>Comment:</p>
                    <div>
                        <input id="comment" class="text-dark w-100 mb-3" name="comment" required>
                    </div>
                </div>
                <button type="submit" id="commentSubmit" style="font-size: 13px;" class="text-dark btn bg-yellow mb-5">Post</button>
            {% else %}
            Silahkan login terlebih dahulu untuk berkomentar
            {% endif %}
        </div>
        <div class="align-self-start w-100 mx-auto bg-secondary mt-5 p-3">
            <div class="d-flex flex-column" id="commentList">
                
                
            </div>
        </div>
        
    </div>
{% endblock content %}